dist
lib
!lib/minisatprover.md
tools
.dist-buildwrapper
.project
*.exe
*.lkshs
*.lkshw
*.jar
!alloyIG.jar
*.dll
*.sublime-project
*.sublime-workspace
.cabal-sandbox
.stack-work
cabal.sandbox.config
tags