alloyIG.jar
dist
tools
.dist-buildwrapper
.project
*.exe
*.lkshs
*.lkshw
*.jar
!alloyIG.jar
*.sublime-project
*.sublime-workspace
.cabal-sandbox
.stack-work
stack.yaml.lock
cabal.sandbox.config
tags
lib/amd64-linux/
